:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000;
  --white-color: #fff;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #2f303a;
  --active-btn-background-color: #188ce8;
  --gray-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
}

.section {
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

/* --------------------------HEADER------------------------ */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.accent-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.header-logo {
  color: var(--black-color);
}

.navigation-list {
  display: flex;
  gap: 50px;
}

.navigation-item {
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.navigation-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
}

.contacts-item:first-child {
  margin-right: 50px;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* --------------------------HERO------------------------ */

.hero {
  padding: 200px 0;

  text-align: center;

  background-color: var(--secondary-background-color);
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
}

.hero-btn {
  border-radius: 4px;

  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn-background-color);
}

/* --------------------------Advantages------------------------ */

.advantages {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.advantages-text {
  line-height: 1.71429;
}

/* --------------------------Work------------------------ */

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-image {
}

/* --------------------------Team------------------------ */

.team {
  padding: 94px 0;

  background-color: var(--gray-background-color);
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90) / 4);
  border-radius: 0 0 4px 4px;

  background-color: var(--primary-background-color);
}

.team-wrap {
  padding: 30px 0;
}

.team-image {
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-color);
}

.team-position {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* --------------------------Footer------------------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 57px;

  background-color: var(--secondary-background-color);
}
.footer-accent-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.footer-logo {
  color: var(--white-color);
}

.address {
  font-style: normal;
}

.address-list {
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.first-address-link,
.secondary-address-link {
  line-height: 1.71429;
}

.first-address-link {
  color: var(--white-color);
}

.secondary-address-link {
  color: var(--address-secondary-color);
}

.first-address-link:hover,
.secondary-address-link:hover,
.first-address-link:focus,
.secondary-address-link:focus {
  color: var(--accent-color);
}

/* --------------------------Portfolio------------------------ */

.portfolio {
  padding: 94px 0;
}

.portfolio-title {
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-item {
}

.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--gray-background-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
}

.portfolio-image {
}
.portfolio-item-wrap {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}
.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
