:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000;
  --white-color: #fff;
  --primary-icon-color: #afb1b8;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #2f303a;
  --active-btn-background-color: #188ce8;
  --gray-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --work-overlay: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
}

.section {
  padding: 94px 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

/* --------------------------HEADER------------------------ */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.accent-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.header-logo {
  color: var(--black-color);
}

.navigation-list {
  display: flex;
  gap: 50px;
}

.navigation-item {
}

.navigation-link,
.contacts-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--secondary-color);

  transition: color var(--animation);
}

.navigation-link::after,
.contacts-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform var(--animation);
}

.navigation-link:hover::after,
.navigation-link:focus::after,
.contacts-link:hover::after,
.contacts-link:focus::after {
  transform: scaleX(1);
}

.navigation-link.current {
  color: var(--accent-color);
}

.navigation-link.current::after {
  background-color: var(--accent-color);

  transform: scaleX(1);
}

.contacts-list {
  display: flex;
  gap: 30px;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: inherit;
}

.envelope-icon {
  width: 16px;
  height: 12px;

  fill: currentColor;
}

.smartphone-icon {
  width: 10px;
  height: 16px;

  fill: currentColor;
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

/* --------------------------HERO------------------------ */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  text-align: center;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn-background-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* --------------------------Advantages------------------------ */

.advantages {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-item-wrap {
  margin-bottom: 30px;
  text-align: center;
  width: 270px;
  height: 120px;
  background-color: var(--gray-background-color);
}

.advantages-icon {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.advantages-text {
  line-height: 1.71429;
}

/* --------------------------Work------------------------ */

.work {
  padding: 0 0 94px 0;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work-image {
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  background-color: var(--work-overlay);
}

/* --------------------------Team------------------------ */

.team {
  background-color: var(--gray-background-color);
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90) / 4);
  border-radius: 0 0 4px 4px;

  background-color: var(--primary-background-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-wrap {
  padding: 30px 0;
}

.team-image {
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-color);
}

.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--primary-background-color);
  color: var(--primary-icon-color);
  transition: background-color var(--animation), color var(--animation);
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* --------------------------Clients------------------------ */

.clients {
}
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: color var(--animation), border var(--animation);
}

.clients-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* --------------------------Footer------------------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 57px;

  background-color: var(--secondary-background-color);
}
.footer-wrap {
  display: flex;
}

.footer-accent-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.footer-logo {
  color: var(--white-color);
}

.address {
  font-style: normal;
}

.address-wrap {
  min-width: 231px;
  margin-right: 70px;
}

.address-list {
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.first-address-link,
.secondary-address-link {
  line-height: 1.71429;
}

.first-address-link {
  color: var(--white-color);
  transition: color var(--animation);
}

.secondary-address-link {
  color: var(--address-secondary-color);
  transition: color var(--animation);
}

.first-address-link:hover,
.secondary-address-link:hover,
.first-address-link:focus,
.secondary-address-link:focus {
  color: var(--accent-color);
}

.join-wrap {
}

.fotter-title {
  padding-top: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.subscribe-wrap {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  gap: 12px;
}

.subscribe-input {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-secondary-color);
}

.subscribe-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--active-btn-background-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* --------------------------Portfolio------------------------ */

.portfolio {
}

.portfolio-title {
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-item {
}

.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--gray-background-color);
  cursor: pointer;
  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow var(--animation);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-link {
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--portfolio-overlay);
  overflow: auto;
  opacity: 0;
  transition: transform var(--animation), opacity var(--animation);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-item-wrap {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}

.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* --------------------------Modal------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--backdrop-background-color);

  opacity: 1;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  border-radius: 4px;
  width: 528px;
  min-height: 581px;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;

  transition: transform var(--animation);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--animation);
  background-color: transparent;
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}
.modal-form {
}

.modal-lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}

.modal-lable.textarea {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  transition: border var(--animation);
}

.modal-input:focus,
.modal-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-textarea {
  display: block;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  transition: border var(--animation);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color);
  transition: fill var(--animation);
}

.modal-checkbox-lable {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding: 4px 0 4px 36px;
}

.modal-checkbox-icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  fill: transparent;
  transition: fill var(--animation), border-color var(--animation),
    background-color var(--animation);
}

.modal-checkbox:checked + .modal-checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}

.modal-checkbox:focus-visible + .modal-checkbox-icon {
  border-color: var(--accent-color);
}

.modal-checkbox-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  color: #fff;
  transition: background-color var(--animation), transform var(--animation),
    box-shadow var(--animation);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--active-btn-background-color);
}
.modal-submit-btn:active {
  transform: translate(1px, 2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
